html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "TTNorms-Regular";
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

/* sections styles (padding) */

.header-section,
.works,
.clients,
.portfolio,
.email,
.copyright {
    padding: 3rem 0;
}

/* title style */

.title {
    font-family: "TTNorms-Medium";
    font-size: 2rem;
    color: #081D43;
}

/* description style */

.desc {
    font-size: 1rem;
    color: #6C7890;
}

/* border redius */

.border-radius {
    border-radius: 0.4rem;
}



/* start nav styles */



.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.menu__link {
    text-decoration: none;
    color: #081D43;
}

.menu__link--active {
    padding: 0.7rem 1.5rem;
    background-color: #2F5BEA;
    color: white;
}